{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Beyond Status Quo</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
body {
  background-color: rgba(33, 37, 41, 1)!important;
}

hr {
   border: 1px solid black!important;
}


</style>

</head>
<body>

 


<div id="main">
  <header id="header" >
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center justify-content-end">
          <span style="color:red;font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          <li> </li>
          <li> </li>

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/tournament-landing/{{s}}/">Tournament Landing</a>
              <a href="/tournament-entries/{{s}}/">Tournament Entries</a>
              <div class="collapsible collapsible-accordion">
                  <a class="collapsible-header">Tournament Pairings</a>
                  <div class="collapsible-body">
                    <ul>
                        {% for x in l%}
                            <a href="/tournament-pairings/{{s}}/{{x}}/">Round {{x}}</a>
                        {% endfor %}
                    </ul>
                  </div>
              </div>
              <div class="collapsible collapsible-accordion">
                  <a class="collapsible-header">Tournament Results</a>
                  <div class="collapsible-body">
                    <ul>
                        {% for x in l%}
                          <a href="/tournament-results/{{s}}/{{x}}/">Round {{x}}</a>
                        {% endfor %}
                    </ul>
                  </div>
              </div>
              <a href="/tournament-bracket/{{s}}/">Break Round Bracket</a>
              <a href="/speaker-point-ranking/{{s}}/">Best Speakers</a>
              <a href="/final-result/{{s}}/">Preliminary results</a>
          

            </div>
          <h1 class="logo mr-auto"><a href="/">Beyond Status Quo</a></h1>
          
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              {% if request.user.is_authenticated %}
              <li><a href="/user/">{{user}}</a></li>
              <li> <a href="/logout/">Logout</a></li>
              {% else %}
              <li><a href="/">Login</a></li>
              {% endif %}
              <li> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <section id="hero" style='height: 100%!important;'>
    <div class="main">
      {% if message == "" %}
        <h1> Best Speakers </h1>
        <br>
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"> Speaker </th>
              <th scope="col">Team Name</th>
              <th scope="col">School</th>
              {% for round in num_rounds %}
                <th scope="col">Round number: {{round}} Speaker Points</th>
              {% endfor %}
              <th scope="col">Average Speaker Points</th>
            </tr>
          </thead>
              <tbody>


              {% for x in ranking %}
                <tr>
                    <td>{{x.0}}</td>
                    <td>{{x.1}}</td>
                    <td>{{x.2}}</td>
                    {% for i in x.3%}
                      <td>{{i}}</td>
                    {% endfor %}
                    <td>{{x.4}}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
        <br>
        {% if zero_p|length != 0 %}
          <hr>
          <h4>The following participants were not assinged any speaker points since they got a bye:</h4>
          {% for i in zero_p %}
            <ul>
              <li><h4>{{i}}</h4></li>
            </ul>
          {% endfor %}
        {% endif %}

      {% else %}
        <center><h1>{{message}}</h1></center>
      {% endif %}

      </div>
  </section>



  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
  }
  </script>

</body>

</html>
